body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f5f5f5;
    }
    .wrapper-orderlist-table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    h1 {
        color: grey;
        text-align: center;
    }
    .order-card {
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin: 20px 0;
        padding: 20px;
        transition: transform 0.3s;
        width: 45%;
        animation: fadeIn 0.5s;
    }
    .order-card:hover {
        transform: translateY(-5px);
    }
    .order-header {
        font-size: 1.5em;
        margin-bottom: 15px;
        color: #333;
    }
    .nested-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }
    .nested-table th, .nested-table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .nested-table th {
        background-color: #f2f2f2;
    }
    .delete-btn{
    margin-left: 10px;
        color: black;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
    
    .print-btn {
        margin-left: 10px;
       border: 1px solid black;
        color: grey;
        border: none;
        padding: 3px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
    .delete-btn i {
        font-size: 0.8em;
    }
    .delete-btn:hover, .print-btn:hover {
        background-color: darkgrey;
        color:black;
    }
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @media print {
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .order-card {
            border: none;
            background-color: white;
        }
        .nested-table {
            border: none;
        }
        .nested-table th, .nested-table td {
            border: 1px solid black;
        }
        .print-header {
            text-align: center;
            margin-bottom: 20px;
        }
        .print-footer {
            margin-top: 20px;
            text-align: center;
            font-size: 12px;
            color: gray;
        }
    }
    @media (max-width: 500px) {
        .wrapper-orderlist-table {
            flex-direction: column;
        }
        .order-card {
            width: 100%;
        }
    }
/*==========================================================*/
.dataTables_info  {
	font-size:0.8em;
} 
.dataTables_paginate{
	font-size:0.8em;
}
.paginate_button{
	font-size:0.8em;
}

#nested-OrderTable_previous{
	font-size:0.8em;
}

.paginate_button{
	font-size:0.8em;
}
.dataTables_length{
	font-size:0.8em;
}
.nested-OrderTable_length{
	font-size:0.8em;
}

 
